/*css reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/*general styles*/

html {
    background-color: #FFFD38;
    background-size: cover;
    //background-color: hsla(0, 0%, 100%, 0.30);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    font-family: 'Monoton';
    letter-spacing: 2em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*header styles*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    position: relative;
}

.container {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    float: right;
    background-color: #fff;
    top: 0;
}

/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Button styling */
.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
    color: #c00;
}

/*
Default styles + Mobile first
Offscreen menu style
*/
.main-menu {
    position: absolute;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    transition: left 0.3s ease,
        box-shadow 0.3s ease;
    z-index: 999;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
    -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
    box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
    min-height: 100%;
    width: 200px;
    background: #1a1a1a;
}

.main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
    border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
    background: #333;
    text-decoration: underline;
}

.main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
}

/*
On small devices, allow it to toggle...
*/
/*
:target for non-JavaScript
aria-expanded="true/false" will be for JavaScript
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
}

/*
We could us `.main-menu:target:after`, but
it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000;
    background: rgba(0, 0, 0, .85);
    cursor: default;
}

@supports (position: fixed) {

    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: fixed;
    }
}

/*
Larger screen styling
Horizontal menu
*/
@media (min-width: 768px) {

    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }

    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;
    }

    .main-menu ul {
        display: flex;

        /* Undo off-canvas styling */
        padding: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: auto;
        width: auto;
        background: none;
    }

    .main-menu a {
        color: #06c;
        border: 0 !important;
        /* Remove borders from off-canvas styling */
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: none;
        /* Remove background from off-canvas styling */
        color: #c00;
    }
}

/*
Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    padding: 20px;
    display: flex;
    align-items: baseline;
}

article {
    padding: 30px;
    width: 55em;
    font-size: 16px;
    line-height: 1.5em;
}

article h2 {
    font-weight: 500;
    font-size: 28px;
}

.logo {
    margin: 0 30px 0 10px;
    font-size: 1.5em;
}


/*content styles*/







/*media queries*/

@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    input[type=text] {
        width: 100%;

    }

    button {
        display: block;
        width: 100%;
    }

}


/*iPhone landscape*/

@media only screen and (max-width: 640px) {

    .contain {
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {}
